div.preview {
  border: solid black 1px;
}

// mat-dialog-content {
//   position: relative;
// }

.btn {
  float: left;
}

.btn-container {
  margin-left: 68%;
 margin-top: 120px;
}

mat-dialog-content {
  height: 75%;
  width: 105%;
}
.image-cropper {
  height: 75%;
  width: 105%;
}

div.cropper {
  top: 0px;
  left: 0px;
  width: 143px !important;
  height: 138.014px !important;
  margin-left: calc(50% - 71.5px) !important;
  visibility: visible;
}

.cdk-overlay-pane{
  min-width: 500px !important;
  max-width: 700px !important;
}